@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
:root{
    font-family: 'Chillax', sans-serif;
    --clr-text-details:#c04a06;
    --clr-details:#f6ebd5;
    --clr-shadow-details:#f6ebd536;
    --clr-text-black:#000000;
    --clr-text-white:#ffffff;
    --clr-bg:#181818;
}

html.lenis {
    height: auto;
}
  
.lenis.lenis-smooth {
    scroll-behavior: auto;
}
  
.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}
  
.lenis.lenis-stopped {
    overflow: hidden;
}
  
.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    /* font-family: 'Pally', sans-serif; */
    color: var(--clr-text-white);
    width: 100%;
    height: 100vh;
}

.page{
    opacity: 0;
    transform: translate3d(0, -1rem, 0);
    transition: all 0.4s ease-in-out;
}

.page.visible{
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.load.hidden{
    opacity: 0;
    visibility: hidden;
}

.load {
    position: fixed;
    inset: 0;
    z-index: 9999;
    background-color: var(--clr-text-details);
    transition: all 0.4s ease-in-out;
}

.loader {
    width: 50px;
    height: 50px;
    left: calc(50% - 25px);
    display: inline-block;
    position: absolute;
    top: calc(50% - 25px);
}

.loader .planet {
    width: 50px;
    height: 50px;
    background-color: #f6ebd5;
    border-radius: 100%;
    border: 3px solid black;
}

.loader .ring {
    position: absolute;
    top: 16.6666666667px;
    width: 100px;
    margin: auto;
    height: 16.6666666667px;
    left: calc(50% - 50px);
    border-radius: 100%;
}

.loader .ring.back {
    z-index: -1;
    border-top: 4px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.loader .ring.front {
    border-bottom: 5px solid black;
}
.loader {
    animation: rotate-cw 2s linear infinite;
}

@keyframes rotate-cw {
    100% {
      transform: rotate(360deg);
    }
}



canvas{
    z-index: -100;
    position: fixed;
    background-repeat: no-repeat;
    background:var(--clr-bg);
}

h1,h2,h3,h4,h5,h6,p{
    font-family: 'Chillax',sans-serif;
    margin: 0;
}

b, a{
    color: var(--clr-text-details);
}

ul,li,a{
    all:unset;
    font-size: 1.3em;
}

.menu{
    height: 5rem;
    width: 100%;
    /* background-color: var(--clr-text-white); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1.4em;
    color: var(--clr-details);
    font-weight: 600;
}

.logo i{
    font-size: 1.6em;
    color: var(--clr-text-details);
}

.options{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.options .nav-link {
    cursor: pointer;
    color: var(--clr-details);
    position: relative;
}

.options .nav-link a {
    position: relative;
    all: unset;
    transition: color 0.3s ease-in-out; 
}

.options .nav-link a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--clr-text-details);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
    border-radius: 2rem;
}

.options .nav-link:hover a::before {
    transform: scaleX(1);
    transform-origin: center;
}

.options .nav-link:hover a {
    color: var(--clr-text-details);
}

.options button{
    border: 2px solid var(--clr-text-details) !important;
    all: unset;
    color: var(--clr-text-black);
    background-color: var(--clr-details);
    padding:.7rem;
    border-radius: 1rem;
    font-weight: 500;
    transition: all .3s ease-in-out ;
    cursor: pointer;
}

.options button:hover{
    transform: scale(1.05);
    background-color: var(--clr-text-details);
    color: var(--clr-details);
}

.options button:active{
    transform: scale(1);
}

main{
    display: flex;
    align-items:center;
    justify-content: center;
    margin-inline: 10rem;
    height: 80vh;
    margin-bottom: 2rem;
}

.intro{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.intro h1{
    font-size: 3em;
}

.planeta {
    top: 20%;
    height: 80%;
    left: 20%;
    width: 30%;
    fill: var(--clr-text-details);
}

.planeta g path{
    stroke-width: 2;
    stroke: var(--clr-text-details);
}






























.section {
    user-select: none;
    width: 100vw;
    padding: 10px;
    position: relative;
    background-color: var(--clr-details);
    border-top: 2px solid var(--clr-text-details);
    border-bottom: 2px solid var(--clr-text-details);
}

.section.section--runline {
    width: 100vw;
    height: 35px;
    display: flex;
}

.runtext__content {
    align-items: center;
    display: flex;
}
  
.runtext__block {
    flex: none;
    align-items: center;
    display: flex;
    animation: scroll 20s linear infinite;
}

.runtext__txt {
    color: var(--clr-text-black);
    text-transform: uppercase;
    padding-right: 6px;
    font-size: 24px;
    font-weight: 500;
}

.runtext__txt.dot{
    color: var(--clr-text-details);
}

@keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
}
